<!DOCTYPE html>
<html lang="cs">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ITN projekt</title>
</head>
<body>
    <header>
        <nav class="upper_nav">
            <div class="flex_box">
                <span class="nav_item"><a href="{% url 'main_table' %}">Indexxssxsx</a></span>
                <span class="nav_item"><a href="{% url 'add_customer' %}">Nový Pojistenec</a></span>
            </div>
        </nav>
    </header>
    <div id="control-gap1">
        <br>
        <br>
    </div>
    <div class="content">
    {% block content %}

    {% endblock %}
    </div>
    <footer>
        Footer
    </footer>
</body>
</html>