{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block content %}



<table>
  <thead>
    <th>
      {{ customer.given_name }} {{ customer.surname }}
    </th>
    
  </thead>
  <tbody>
    <tr>
      <td class="cell">
        <span class="desperate_span" >
          Krestni jmeno:
        </span>   
      </td>
      <td class="cell">
        {{ customer.given_name }}
      </td>
    </tr>
    <tr>
      <td class="cell">
        <span class="desperate_span">
          Prijmeni:
        </span>
      </td>
        <td class="cell">
          {{ customer.surname }}
      </td>
    </tr>
    <tr>
      <td class="cell">
        <span class="desperate_span">
          Vek:
        </span>
      </td>
      <td class="cell">
        {{ customer.age }}
      </td>
    <tr>
      <td class="cell">
        <span class="desperate_span">
          Telefon:
        </span>
      </td>
      <td class="cell">
        {{ customer.contact }}
      </td>
    </tr>
      <td class="cell">
        <span class="desperate_span">
          Druh pojisteni:
        </span>
      </td>
      <td class="cell">

      </td>
    </tr>
    <tr>
      <td class="cell">
        <span class="desperate_span">
          Pojistna castka:
        </span>
      </td>
      <td class="cell">

      </td>
    </tr>
  </tbody>
</table>

{% endblock %}
