{% extends "base.html" %}

{% block header %}

{% endblock %}

{% block content %}



<table>
  <thead>
    <th>
      {{ customer.given_name }} {{ customer.surname }}
    </th>
    
  </thead>
  <tbody>
  <tr>
    <td class="cell">
      test1
    </td>
    <td class="cell" text="data">
      <span class="desperate_span" >
        
      test2
    </span>
    </td>
    <tr>
      <td class="cell">
        test3
      </td>
    </tr>

</tbody>
</table>

<span class="test-span">
  This is a test span test
</span>

<div id="control-gap1"><br></div>

{% endblock %}
