
.upper_nav{
 font:black;

 font-weight:bold;
}


table{
    
    justify-content: center;
    
}

.content{
    
    width: 80%;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    
    
    }


.cell{
border: 2px solid ;

    width: 33%;
    padding: 10px;
    vertical-align: top;


}

#control-gap1{
    background-color: green;
}